<% content_for(:title) { '商品管理' } %>

<h1>Listing items</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Published on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= I18n.l(item.published_on) if item.published_on %></td>
      <td><%= link_to raw("<i class='fi-page'></i> Show"), item %></td>
      <td><%= link_to raw("<i class='fi-pencil'></i> Edit"), edit_item_path(item) %></td>
      <td><%= link_to raw("<i class='fi-trash'></i> Destroy"), item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
